HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.classpath
.project
.settings
.DS_Store
/build
*/bin/
/.idea
*.ipr
*.iws
*/target/
.mvn/*
*rebel.xml
*.log
*.hprof
*.puml
*.cmd
/mvnw
.mvn
mvnw
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
